---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
NamespaceIndentation: None
IndentCaseLabels: true

ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackParameters: false
BinPackArguments: false

BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements

FixNamespaceComments: true
ShortNamespaceLines: 0


SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[a-z_]+>$'
    Priority: 1
  - Regex: '^"(pico|hardware|boards)/'
